@font-face {
    font-family: "Lato";
    src: url("#{$font-path}/Lato-Regular.eot");
    src: url("#{$font-path}/Lato-Regular.eot?#iefix") format("embedded-opentype"),
    url("#{$font-path}/Lato-Regular.woff2") format("woff2"),
    url("#{$font-path}/Lato-Regular.woff") format("woff"),
    url("#{$font-path}/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html {
    background: #2d2e2e
}

.avatar {
    margin: 0 auto;
    width: 174px;
    height: 174px;
}

.avatar__photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-text {
    display: flex;
    flex-direction: column;
}

.profile-text__name {
    font-weight: 300;
    font-size: 40px;
    color: #a4a5a6;
    margin: 0 auto;
}

.profile-text__surname {
    color: #e0a80d;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    margin: -2px auto;
    font-family: "Lato";
}

.profile-text__profession {
    font-weight: 300;
    margin: 15px auto;
    color: #979899;
    font-family: "Lato";
}

.social-media-links {
    display: flex;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
}

.social-media-links__icon {
    display: flex;
    font-size: 12px;
    align-items: center;
    color: #c0c0c0;
}

.social-media-links__link:hover .fab {
    color: #ffd700;
}

.social-media-links__link {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 22px;
    height: 22px;
    background-color: #696969;
    opacity: 0.9;
    margin: 3px;
    border: 1px solid transparent;
    border-radius: 2px;
    text-decoration: none;
}

.social-media-links__link:hover {
    border: 1px solid #c0c0c0;
    background-color: #2d2e2e;
    opacity: 0.8;
}

.line {
    margin: 0 auto;
    padding-top: 20px;
    width: 90%;
    border-bottom: 2px solid #696969;
}

.contacts {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 15px;
}

.contacts__contact {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    color: #a4a5a6;
    margin: 15px;
    font-weight: bold;
}

.contacts__contact-info {
    margin: 15px;
    font-weight: normal;
}

.contacts__contact-info a {
    text-decoration: none;
    color: #a4a5a6;
}

.contacts__contact-info:hover a {
    color: #ffd700;
}
