@import "../abstracts/variables";
@import "../abstracts/colors";

$default-padding: 70px;

.container {
  margin: 0 auto;
  width: 100%;

  @media (min-width: $lg-screen-breakpoint) {
    width: $lg-screen-breakpoint;
  }
}

.section {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $lg-screen-breakpoint) {
    grid-template-columns: 30% 1fr;
  }

  &__header {
    background-color: $color-primary;
    padding-right: 0;

    @media (min-width: $lg-screen-breakpoint) {
      padding-right: $default-padding;
    }
  }

  &__content {
    padding-left: 0;

    @media (min-width: $lg-screen-breakpoint) {
      padding-left: $default-padding;
    }
  }
}
