@import "../abstracts/variables";
@import "../abstracts/colors";

$default-padding: 70px;
$xs-section-padding: 25px;
$sm-section-padding: 50px;

.container {
  margin: 0 auto;
  width: 100%;

  @media (min-width: $lg-screen-breakpoint) {
    width: $lg-screen-breakpoint;
  }
}

.section {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $md-screen-breakpoint) {
    grid-template-columns: 30% 1fr;
  }

  &__header {
    background-color: $color-primary;
    padding: $xs-section-padding;
    border-top: 1px solid $color-dark-accent;
    border-bottom: 1px solid $color-dark-accent;
    text-align: left;
    color: $color-text-main;
    line-height: 1.75;

    &-title {
      text-transform: uppercase;
      font-weight: bold;
    }

    @media (min-width: $sm-screen-breakpoint) {
      padding: $sm-section-padding;
    }

    @media (min-width: $md-screen-breakpoint) {
      padding-right: $default-padding;
      border-top: 0;
      border-bottom: 0;
      text-align: right;
    }
  }

  &__content {
    padding: $xs-section-padding;
    border-top: 1px solid $color-dark-accent;
    border-bottom: 1px solid $color-dark-accent;
    text-align: left;
    color: $color-text-main;

    &-title {
      font-weight: bold;
    }

    @media (min-width: $sm-screen-breakpoint) {
      border-top: 0;
      border-bottom: 0;
      padding: $sm-section-padding;
    }

    @media (min-width: $md-screen-breakpoint) {
      border-top: 0;
      border-bottom: 0;
      padding-left: $default-padding;
    }
  }
}
