$color-primary: #2d2e2e;
$color-text-main: #a4a5a6;
$color-dark-gray: #282929;
$color-text-second: #e0a80d;
$color-text-third: #979899;
$color-social-icon: #696969;
$color-text-social-icon: #c0c0c0;
$color-fab-social-icon: #ffd700;
$color-border-social-icon: #c0c0c0;