@import "../abstracts/colors";
@import "../abstracts/variables";

.intro-container {
  .section {
    &__content {
      color: $color-text-main;
      line-height: 1.75;
      text-align: justify;
      font-size: 1.22rem;
    }
  }
}
