@import "../abstracts/colors";
@import "../abstracts/variables";

.locals{
  display: grid;
  grid-template-columns: $toggle-width, $toggle-width;
  float: right;
  gap: 10px;

  &-language-btn {
    color: white;
    text-align: right;
    font-size: 20px;
  }
}

.active {
  color: $color-text-second;
  border-bottom: 2px solid $color-text-second;
} 