@import "../abstracts/colors";
@import "../abstracts/variables";

.locals{
  display: flex;
  float: right;
  padding-top: 10px;

  &__language-btn {
    color: white;
    text-align: right;
    font-size: 20px;
    margin-right: 10px;

    &:hover {
      cursor: pointer;
    }

    &_active {
      color: $color-text-second;
      border-bottom: 2px solid $color-text-second;
    }
  }
}
