@import "../abstracts/colors";
@import "../abstracts/variables";

// TODO refactor this file

.section {
  &__header {
    padding-top: 100px;
  }
}

.avatar {
  text-align: center;

  @media (min-width: $lg-screen-breakpoint) {
    text-align: right;
  }

  &__photo {
    border-radius: 50%;
  }
}

.profile {
  display: grid;
  margin-bottom: 100px;
  margin-top: 100px;
  text-align: right;

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  }
}

.personal-data {
  &__name {
    color: #a4a5a6;
    font-size: 50px;
    margin-bottom: 0;
    line-height: 30px;

    @media screen and (min-width: 992px) {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      text-align: center;
      margin: 0 auto;
    }

    @media screen and (min-width: 768px) {
      width: 80%;
      text-align: center;
      margin: 0 auto;
    }

    @media screen and (max-width: 992px) {
      margin: 0 auto;
      width: 250px;
    }
  }

  &__surname {
    font-size: 60px;
    text-transform: uppercase;
    color: #e0a80d;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;

    @media screen and (min-width: 768px) {
      width: 70%;
      text-align: center;
      margin: 0 auto;
    }
  }

  &__profession {
    font-size: 16px;
    color: #a4a5a6;
    text-align: center;

    @media screen and (min-width: 768px) {
      width: 80%;
      text-align: center;
      margin: 0 auto;
    }
  }
}

.contacts {
  display: grid;
  justify-items: center;
  margin-top: 15px;
  grid-template-columns: 1fr;

  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__contact {
    display: grid;
    color: $color-text-main;
    margin: 15px;
    font-weight: bold;
    grid-template-columns: 1fr;
    justify-items: center;

    @media (min-width: 1200px) {
      justify-items: start;
    }

    &-info {
      font-weight: normal;
      margin: 15px;

      @media (min-width: 992px) {
        margin: 0;
        padding-top: 15px;
      }

      & a {
        text-decoration: none;
        color: $color-text-main;
      }

      &:hover a {
        color: $color-secondary-accent;
      }
    }
  }
}

.social-links {
  font-size: 25px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 33px 33px 33px;

  @media screen and (min-width: 992px) {
    margin: 20px auto;
  }

  @media screen and (min-width: 768px) {
    margin: 20px auto;
  }

  @media screen and (max-width: 768px) {
    margin: 0 auto;
  }

  &__icon {
    font-size: 20px;
    align-items: center;
    color: $color-light-accent;
    vertical-align:  middle;
    position: absolute;
    left: 6px;
    top: 8px;
  }

  &__link {
    margin-right: 10px;
    display: block;
    width: 30px;
    height: 30px;
    background-color: $color-dark-light;
    opacity: 0.9;
    border: 1px solid transparent;
    border-radius: 2px;
    text-decoration: none;
    position: relative;

    &:hover {
      border: 1px solid $color-light-accent;
      background-color: $color-primary;
      opacity: 0.8;

      & .fab {
        color: $color-secondary-accent;
      }
    }
  }
}