@import "../abstracts/colors";

.avatar {
  margin: 0 auto;
  width: 174px;
  height: 174px;

  &__photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.personal-data {
  display: flex;
  flex-direction: column;

  &__name {
    font-weight: 300;
    font-size: 40px;
    color: #a4a5a6;
    margin: 0 auto;
  }

  &__surname {
    color: #e0a80d;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    margin: -2px auto;
  }

  &__profession {
    font-weight: 300;
    margin: 15px auto;
    color: #979899;
  }
}

.contacts {
  display: grid;
  justify-items: center;
  margin-top: 15px;
  grid-template-columns: 1fr;

  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__contact {
    display: grid;
    color: $color-text-main;
    margin: 15px;
    font-weight: bold;
    grid-template-columns: 1fr;
    justify-items: center;

    @media (min-width: 1200px) {
      justify-items: start;
    }

    &-info {
      font-weight: normal;
      margin: 15px;

      @media (min-width: 992px) {
        margin: 0;
        padding-top: 15px;
      }

      & a {
        text-decoration: none;
        color: $color-text-main;
      }

      &:hover a {
        color: $color-secondary-accent;
      }
    }
  }
}



