@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.eot');
    src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-Regular.woff2') format('woff2'),
        url('fonts/Lato-Regular.woff') format('woff'),
        url('fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    background: #2d2e2e
}

.avatar {
    margin: 0 auto;
    width: 174px;
    height: 174px;
}

.avatar__photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-text {
    display: flex;
    flex-direction: column;
}

.profile-text__name {
    font-weight: 300;
    font-size: 40px;
    color: #a4a5a6;
    margin: 0 auto;
}

.profile-text__surname {
    color: #e0a80d;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    margin: -2px auto;
    font-family: 'Lato';
}

.profile-text__profession {
    font-weight: 300;
    margin: 15px auto;
    color: #979899;
    font-family: 'Lato';    
}
